html,
body {
  color: #444;
  font: 18px/1.5 Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  height: 2em;
}

#map {
  height: 100%;
}

.address-bar {
  border-bottom: .5em solid #444;
  padding: 1em;
  margin: 0 auto;
}
