html,
body {
  color: #444;
  font: 18px/1.5 Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  padding: 0 1em 2em;
  position: fixed;
  z-index: 1;
}
