$bluegrey: #4e5a5f;
$dbblack: #020615;
$dbblue: #0076ad;
$grey: #444;
$offwhite: #f2f2f2;

html,
body {
  color: $dbblack;
  font: 16px/1.5 Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

.header {
  background-color: #ffffff;
  padding: 1em;
  width: 100%;
  z-index: 10;
}

#map {
  height: 100%;
}

.loading {
  background-color: $offwhite;
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9998;
}

.loading__text {
  display: table-cell;
  vertical-align: middle;
}
